html {
padding: 0%;
margin: 0%;
}

body{
padding: 0%;
margin: 0%;
background-color: indigo;
}

div.Game {
width: 350px;
height: 650px;
position: relative;
display: block;
background-color: rgb(159, 194, 194);

padding: 5px 5px 5px 5px;
border-radius: 10px;

}

.Gamebttngroup .Rock ,.Paper ,.Scissors{
display: block;
position: relative;

top: 250px;
left: 0px;
height: 100px;
width: 100%;
margin-bottom: 5px;
font-size: large;

border-radius: 10px;
}

.Gamebttngroup{
height: 100%;
width: 100%;
}

div.Gamebttngroup .Rock:hover{
background-color: whitesmoke;

}

div.Gamebttngroup .Paper:hover{
background-color: whitesmoke;

}

div.Gamebttngroup .Scissors:hover{
background-color: whitesmoke;

}

div.fiveRoundScore {
display: block;
position: relative;

text-align: center;
top: 150px;
left: 60px;

font-size: larger;
font-weight: bold;

border-radius: 10px;

}

div.everyRoundScore {
border: solid;
position: absolute;
display: block;
background-color: blanchedalmond;

width: 95%;
height: 200px;
top: 50px;
text-align: center;

font-size: larger;
font-weight: bold;
}

button.Start{
float: right;
padding-bottom: 0px;
position: relative;
display: block;
color: green;

font-weight: bold;
height: 40px;
}

button.Start:hover{

background-color: whitesmoke;

}

@media (min-width:700px) { 
.Game{
text-align: center;
top: 130px;
left: 25%;

display: inline-block;
box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

width: 900px;
height: 1200px;
}

body{
background-color: indigo;

}

}

@media (min-width:1000px) {
.Game{
text-align: center;
top: 70px;
left: 40%;

display: inline-block;
box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

width: 350px;
height: 650px;
}

body{
background-color: indigo;

}

}