
html {
    padding: 0%;
    margin: 0%;

}





div.Game {
    width: 360px;
    height: 640px;
    position: relative;
    display: block;
    background-color: rgb(159, 194, 194);

    padding: 5px 5px 5px 5px;


}

div.Gamebttngroup .Rock ,.Paper ,.Scissors{
    display: inline-block;
    position: relative;
    top: 250px;
    left: 0px;
    height: 100px;
    width: 100%;
    
margin-bottom: 5px;
font-size: large;

}


div.fiveRoundScore {
    display: block;
    position: relative;

    text-align: center;
    top: 150px;
    left: 60px;

    font-size: larger;
    font-weight: bold;

}


div.everyRoundScore {
    border: solid;
    position: absolute;
    display: block;
    background-color: blanchedalmond;

    width: 95%;
    height: 200px;
    top: 50px;
    text-align: center;

    font-size: larger;
    font-weight: bold;
}

button.Start{
    float: right;
    padding-bottom: 0px;
    position: relative;
    display: block;
    color: green;

    font-weight: bold;
    height: 40px;
}

@media (min-width:1000px) {
    .Game{
        text-align: center;
        top: 70px;
        left: 40%;

        display: inline-block;
        box-shadow: box-shadow: 5px 10px;
    }
}